.navbar {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23fd761f' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:hover {
    border-color: transparent;
}
  
.nav-link,
.dropdown-menu,
.dropdown-item {
    color: black;
    font-weight:500;

}

.nav-link:hover {
    color: #fd761f;
    text-decoration: none;
}