a {
  font-size:14px;
  font-weight:700
}
.superNav {
  font-size:13px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f3f3f3;
  font-family: 'Poppins',sans-serif;
}
.menu{
  padding: 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px,1fr));
  grid-gap: 40px 20px;
  margin: 30px;
  margin-top: 50px;
}
.heading{
  color: black;
  margin-bottom: 30px;
  padding: 60px 0 30px 0;
  grid-column: 1/-1; 
}
.heading>h3{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: center;
}
.break{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 100px;

}
.food-items{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 0 20px;
}
.food-items img{
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.details{
  padding: 20px 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 10px;
}
.details-sub{
  display: grid;
  grid-template-columns: 1fr auto;
}
.details-sub>h5{
  font-weight: 600;
  font-size: 18px;
}
.price{
  text-align: right;
}
.details>button{
  background-color: orange;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

#myInput {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
  float: right;
  
}

#search-container {
  margin: 1em 0;
  text-align: right;
  margin-right: 60px;
}
#buttons{
  text-align: right;
  margin-right: 60px;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border: 2px solid #ff6700;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-color: #ff6700;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #ff6700;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #ff6700;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #ff6700;
  cursor: pointer;
}
.active {
  background-color: #ff6700;
  color: #ffffff;
  border-color: aqua;
}
